<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>
  <form class="test_form" method="post" action="/">
  	<p>Login</p>
  	<input id="login" class="login" name="login"></input>
  	<p>Password</p>
  	<input id="password" class="password" name="password"></input>
  	<button id="submitFormButton" type="submit" name="submit">Check</button>
  </form>

<% include footer %>